ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    background-color: green;
    width: 100% auto;
    padding: 15px;
}


li a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

li { 
    display: inline;
    margin: 20px; 
    background-color: blueviolet;
}
